body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    /* hide excess on screen and removes scrollbar */
    /* overflow: hidden; */

}

.curved {
    background: #ff3c00;
    /* text */
    color: white;
    text-align: center;
}

.curved > h1 {
    font-size: 6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* removing space on top */
    margin-top: 0;
}

.curved > p {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 5rem 0 5rem;
}

.curved > svg {
    display: block;
}

.curved.upper{
    background: #fff;
}